In [13]:
# Import libries

import pandas as pd
import sqlite3

In [3]:
# Import dataframe

db = sqlite3.connect(r'C:\Users\jspad\Documents\Code Academy\Ecommerce 2020too\ecommerce.db')
dfs = pd.read_excel(r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', sheet_name=None)
for table, df in dfs.items():
    df.to_sql(table, db, index=True)
db.commit()
db.close()

In [16]:
#Import
products = pd.read_excel(
    r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
    sheet_name='products', 
    index_col=0,
    header=0)

stock = pd.read_excel(
    r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
    sheet_name='stock',
    index_col=0, 
    header=0)

assessment = pd.read_excel(
    r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
    sheet_name='assessment',
    index_col=0,
    header=0)

invoices = pd.read_excel(
    r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
    sheet_name='invoices',
    index_col=0,
    header=0)

customers = pd.read_excel(
    r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
    sheet_name='customers',
    index_col=0,
    header=0)

In [19]:
products.info

<bound method DataFrame.info of                                                         title product_type
ASIN
B07GWKDLGT  Nikon D3500 W/ AF-P DX NIKKOR 18-55mm f/3.5-5....  dslr camera
B01MTLH408  Manfrotto Element Aluminum 5-Section Monopod, ...  dslr camera
B0064FS7HI  STK LP-E8 Battery for Canon Rebel T5i, T3i, T2...  dslr camera
B013JHU5YG  Lowepro Whistler BP 350 AW (Grey) . Profession...  dslr camera
B06XWN9Q99  Samsung (MB-ME32GA/AM) 32GB 95MB/s (U1) microS...  dslr camera
...                                                       ...          ...
B00SB6SPA2  AUSDOM Lightweight Over-Ear Wired HiFi Stereo ...   smartphone
B07TKTRX6B  Squish Qi Wireless Car Charger, Wireless Charg...   smartphone
B07P8CK47X  Cell Phone Stand, 2Pack Cellphone Holder for D...   smartphone
B07BDGPDKS  USB Certified Type C Cable - EVISTR 3PACK 10FT...   smartphone
B018KIJGU8  Rode VideoMic Me Compact TRRS Cardioid Mini-Sh...   smartphone

[554417 rows x 2 columns]>

In [21]:
# Database Info and shape

customers.head(50)
customers.describe()

        Country
count    554417
unique       37
top     Germany
freq     508400

In [ ]:
#%reset