In [3]:
# Import libries

import pandas as pd
import numpy as np
import matplotlib as plt

In [4]:
#Import
products = pd.read_excel(
    r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
    sheet_name='products', 
    index_col=0,
    header=0)

stock = pd.read_excel(
    r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
    sheet_name='stock',
    index_col=0, 
    header=0)

assessment = pd.read_excel(
    r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
    sheet_name='assessment',
    index_col=0,
    header=0)

invoices = pd.read_excel(
    r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
    sheet_name='invoices',
    index_col=0,
    header=0)

customers = pd.read_excel(
    r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
    sheet_name='customers',
    index_col=0,
    header=0)

In [12]:
# Importing with reset index

products = pd.read_excel(r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
    sheet_name='products', header=0)
products.reset_index(inplace=True) # we are creating an index column because, in this particular sales dataset, no value is necessarily unique, except for the index
products=products.rename(columns={"index": "index_col"}) # we need to change the name of the column to something else

stock = pd.read_excel(r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
    sheet_name='stock', header=0)
stock.reset_index(inplace=True) 
stock=stock.rename(columns={"index": "index_col"}) 

assessment = pd.read_excel(r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
    sheet_name='assessment', header=0)
assessment.reset_index(inplace=True) 
assessment=assessment.rename(columns={"index": "index_col"}) 

invoices = pd.read_excel(r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
    sheet_name='invoices', header=0)
invoices.reset_index(inplace=True) 
invoices=invoices.rename(columns={"index": "index_col"}) 

customers = pd.read_excel(r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
    sheet_name='customers', header=0)
customers.reset_index(inplace=True) 
customers=customers.rename(columns={"index": "index_col"})

In [13]:
products.head()

,index_col,ASIN,title,product_type
0,0,B07GWKDLGT,Nikon D3500 W/ AF-P DX NIKKOR 18-55mm f/3.5-5....,dslr camera
1,1,B01MTLH408,"Manfrotto Element Aluminum 5-Section Monopod, ...",dslr camera
2,2,B0064FS7HI,"STK LP-E8 Battery for Canon Rebel T5i, T3i, T2...",dslr camera
3,3,B013JHU5YG,Lowepro Whistler BP 350 AW (Grey) . Profession...,dslr camera
4,4,B06XWN9Q99,Samsung (MB-ME32GA/AM) 32GB 95MB/s (U1) microS...,dslr camera

In [ ]:
products.info

In [7]:
# Database Info and shape

customers.head(50)
customers.describe()

        Country
count    554417
unique       37
top     Germany
freq     508400

In [28]:
part_df=pd.merge(products, stock, on="index_col")
part_df=part_df.drop(['ASIN_y'], axis=1)

part2_df=pd.merge(part_df, assessment, on="index_col")
part2_df=part2_df.drop(['ASIN_x'], axis=1)

part3_df=pd.merge(part2_df, invoices, on="index_col")
part3_df=part3_df.drop(['ASIN_y'], axis=1)

df=pd.merge(part3_df, customers, on="index_col")
df=full_df.drop(['CustomerID_y', 'index_col'], axis=1)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 554417 entries, 0 to 554416
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   title         554417 non-null  object
 1   product_type  554417 non-null  object
 2   StockCode     554417 non-null  object
 3   rating        554417 non-null  float64
 4   review_count  554417 non-null  int64
 5   ASIN_x        554417 non-null  object
 6   InvoiceNo     554417 non-null  object
 7   Quantity      554417 non-null  int64
 8   price         554417 non-null  float64
 9   total_sale    554417 non-null  float64
 10  invoice_date  554417 non-null  datetime64[ns]
 11  invoice_time  554417 non-null  int64
 12  CustomerID_x  554417 non-null  object
 13  Country       554417 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(3), object(7)
memory usage: 63.4+ MB

In [ ]:
#%reset