In [2]:
# Import libries

import pandas as pd
import numpy as np
import matplotlib as plt

In [4]:
# #Import wrong
# products = pd.read_excel(
#     r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
#     sheet_name='products', 
#     index_col=0,
#     header=0)

# stock = pd.read_excel(
#     r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
#     sheet_name='stock',
#     index_col=0, 
#     header=0)

# assessment = pd.read_excel(
#     r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
#     sheet_name='assessment',
#     index_col=0,
#     header=0)

# invoices = pd.read_excel(
#     r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
#     sheet_name='invoices',
#     index_col=0,
#     header=0)

# customers = pd.read_excel(
#     r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
#     sheet_name='customers',
#     index_col=0,
#     header=0)

In [4]:
# Importing with reset index

products = pd.read_excel(r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
    sheet_name='products', header=0)
products.reset_index(inplace=True) # we are creating an index column because, in this particular sales dataset, no value is necessarily unique, except for the index
products=products.rename(columns={"index": "index_col"}) # we need to change the name of the column to something else

stock = pd.read_excel(r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
    sheet_name='stock', header=0)
stock.reset_index(inplace=True) 
stock=stock.rename(columns={"index": "index_col"}) 

assessment = pd.read_excel(r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
    sheet_name='assessment', header=0)
assessment.reset_index(inplace=True) 
assessment=assessment.rename(columns={"index": "index_col"}) 

invoices = pd.read_excel(r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
    sheet_name='invoices', header=0)
invoices.reset_index(inplace=True) 
invoices=invoices.rename(columns={"index": "index_col"}) 

customers = pd.read_excel(r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
    sheet_name='customers', header=0)
customers.reset_index(inplace=True) 
customers=customers.rename(columns={"index": "index_col"})

In [34]:
# Checking import dataset by sheets
products.head(20)
stock.head(10)
assessment.head(10)
invoices.head(10)
customers.head(10)

,index_col,ASIN,title,product_type
0,0,B07GWKDLGT,Nikon D3500 W/ AF-P DX NIKKOR 18-55mm f/3.5-5....,dslr camera
1,1,B01MTLH408,"Manfrotto Element Aluminum 5-Section Monopod, ...",dslr camera
2,2,B0064FS7HI,"STK LP-E8 Battery for Canon Rebel T5i, T3i, T2...",dslr camera
3,3,B013JHU5YG,Lowepro Whistler BP 350 AW (Grey) . Profession...,dslr camera
4,4,B06XWN9Q99,Samsung (MB-ME32GA/AM) 32GB 95MB/s (U1) microS...,dslr camera
5,5,B07F9QN5Q9,Camera Shoulder Double Strap Harness Quick Rel...,dslr camera
6,6,B006W1J3OK,OP/TECH USA 3401002 Compact Sling for Cameras ...,dslr camera
7,7,B00EO4A7L0,Rode SmartLav+ Omnidirectional Lavalier Microp...,dslr camera
8,8,B0000BZL0G,B + W 37mm UV Protection Filter (010) for Came...,dslr camera
9,9,B004JMZPJQ,Case Logic DCB-308 SLR Camera Sling (Black),dslr camera
10,10,B07FSJXHY9,"ESDDI Camera Tripod, DSLR Tripod with 360Â° Ba...",dslr camera
11,11,B007I5B3EW,Ape Case Envoy Compact Messenger-Style Camera ...,dslr camera
12,12,B0149KE4FI,"Manfrotto PIXI EVO 2-Section Mini Tripod, Red ...",dslr camera
13,13,B07817MWDB,Peak Design Capture Camera Clip V3 (with Plate),dslr camera
14,14,B00NP7G1U8,SIRUI 3T-35 Table Top/Handheld Video Tripod wi...,dslr camera
15,15,B07Q6BBS1L,"CADeN Camera Bag Sling Backpack, Camera Case W...",dslr camera
16,16,B005NX7HY6,Sony 50mm f/1.8 Mid-Range Lens for Sony E Moun...,dslr camera
17,17,B00VUGN6AO,"Topixdeals Vintage Camera Bag, DSLR Shoulder C...",dslr camera
18,18,B00MUNPUXM,Neewer Quick Flip Rotating Flash Bracket for D...,dslr camera
19,19,B0002862UW,Celestron â€“ Ultima 100 Angled Spotting Scope...,dslr camera

In [9]:
#Merging datasets

part_df=pd.merge(products, stock, on="index_col")
part_df=part_df.drop(['ASIN_y'], axis=1)

part2_df=pd.merge(part_df, assessment, on="index_col")
part2_df=part2_df.drop(['ASIN_x'], axis=1)

part3_df=pd.merge(part2_df, invoices, on="index_col")
part3_df=part3_df.drop(['ASIN_y'], axis=1)

full_df=pd.merge(part3_df, customers, on="index_col")
full_df=full_df.drop(['CustomerID_y', 'index_col'], axis=1)

In [10]:
# Database Info and shape

full_df.info()

full_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 554417 entries, 0 to 554416
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   title         554417 non-null  object
 1   product_type  554417 non-null  object
 2   StockCode     554417 non-null  object
 3   rating        554417 non-null  float64
 4   review_count  554417 non-null  int64
 5   ASIN_x        554417 non-null  object
 6   InvoiceNo     554417 non-null  object
 7   Quantity      554417 non-null  int64
 8   price         554417 non-null  float64
 9   total_sale    554417 non-null  float64
 10  invoice_date  554417 non-null  datetime64[ns]
 11  invoice_time  554417 non-null  int64
 12  CustomerID_x  554417 non-null  object
 13  Country       554417 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(3), object(7)
memory usage: 63.4+ MB

,title,product_type,StockCode,rating,review_count,ASIN_x,InvoiceNo,Quantity,price,total_sale,invoice_date,invoice_time,CustomerID_x,Country
0,Nikon D3500 W/ AF-P DX NIKKOR 18-55mm f/3.5-5....,dslr camera,21703,4.6,1399,B07GWKDLGT,78536597,4,496.95,1987.80,2018-12-01,17,18011,Germany
1,"Manfrotto Element Aluminum 5-Section Monopod, ...",dslr camera,40001,4.6,289,B01MTLH408,78536597,4,39.99,159.96,2018-12-01,17,18011,Germany
2,"STK LP-E8 Battery for Canon Rebel T5i, T3i, T2...",dslr camera,85034A,4.4,333,B0064FS7HI,78536597,1,12.99,12.99,2018-12-01,17,18011,Germany
3,Lowepro Whistler BP 350 AW (Grey) . Profession...,dslr camera,72798C,4.3,86,B013JHU5YG,78536597,1,199.99,199.99,2018-12-01,17,18011,Germany
4,Samsung (MB-ME32GA/AM) 32GB 95MB/s (U1) microS...,dslr camera,20726,4.7,15717,B06XWN9Q99,78536597,1,7.49,7.49,2018-12-01,17,18011,Germany

In [11]:
# Checking missing values

full_df.isnull().sum().sort_values(ascending=False)

title           0
product_type    0
StockCode       0
rating          0
review_count    0
ASIN_x          0
InvoiceNo       0
Quantity        0
price           0
total_sale      0
invoice_date    0
invoice_time    0
CustomerID_x    0
Country         0
dtype: int64

In [13]:
#Making a copy  of dataset
df=full_df.copy()

In [14]:
#Convert time and date into timestamp objects 
t= df['invoice_time']
df['invoice_time'] = pd.to_datetime(t, format='%H').dt.time

d = df['invoice_date']
df['invoice_date'] = pd.to_datetime(d).dt.date


#Combine time and date into one column
df['invoice_date'] = df.apply(lambda r : pd.datetime.combine(r['invoice_date'],r['invoice_time']),1)

<ipython-input-14-18b1080f7c81>:10: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  df['invoice_date'] = df.apply(lambda r : pd.datetime.combine(r['invoice_date'],r['invoice_time']),1)

In [55]:
# Dropping columns

df=df.drop(['invoice_time', 'StockCode'], axis=1)

In [51]:
# Data cleaning - checking missing values (Customerid missing) 
#np.issubdtype(df['CustomerID_x'].dtype, np.number)

df=df[pd.to_numeric(df['CustomerID_x'], errors='coerce').notnull()]

In [ ]:
# Data cleaning - checking missing values (Customerid missing) 

df_country=df[pd.to_numeric(df['CustomerID_x'], errors='coerce').notnull()]

In [53]:
# Rename
df=df.rename(columns={"title": "Description",
                                "ASIN_x": "ASIN",
                                "CustomerID_x": "CustomerID"})

In [62]:
# Transforming these labels into categrical data type

df['product_type'] = pd.Categorical(df['product_type'],
categories=['dslr camera', 'keyboard', 'monitor', 'mouse', 'processor', 'smartphone',])


df['Country'] = pd.Categorical(df['Country'],
categories=['Australia','Austria','Bahrain','Belgium','Brazil','Canada','Cyprus','Czech Republic','Denmark','European Community','Finland','France','Germany','Greece',
            'Iceland','Ireland','Israel','Italy','Japan','Lebanon','Lithuania','Malta','Netherlands','Norway','Poland','Portugal','Saudi Arabia','Singapore',
            'South Africa','Spain','Sweden','Switzerland','United Arab Emirates','United Kingdom','United States','Unknown'])

In [179]:
df.info()

df.sort_values(by=['invoice_date'], ascending=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 414849 entries, 0 to 554416
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Description   414849 non-null  object
 1   product_type  414849 non-null  category
 2   rating        414849 non-null  float64
 3   review_count  414849 non-null  int64
 4   ASIN          414849 non-null  object
 5   InvoiceNo     414849 non-null  object
 6   Quantity      414849 non-null  int64
 7   price         414849 non-null  float64
 8   total_sale    414849 non-null  float64
 9   invoice_date  414849 non-null  datetime64[ns]
 10  CustomerID    414849 non-null  object
 11  Country       414849 non-null  category
dtypes: category(2), datetime64[ns](1), float64(3), int64(2), object(4)
memory usage: 51.7+ MB

,Description,product_type,rating,review_count,ASIN,InvoiceNo,Quantity,price,total_sale,invoice_date,CustomerID,Country
554043,Motorola Moto G7 â€“ Unlocked â€“ 64 GB â€“ Cl...,smartphone,4.4,279,B07N929X4V,78581580,2,299.99,599.98,2019-12-09 12:00:00,12748,Germany
554023,iOttie Easy One Touch Mini Air Vent Car Mount ...,smartphone,4.1,3688,B017HME9DC,78581587,8,23.99,191.92,2019-12-09 12:00:00,12680,France
554045,Samsung Galaxy Watch Active2 W/ Enhanced Sleep...,smartphone,4.6,5214,B07VNBC9Z9,78581579,10,229.00,2290.00,2019-12-09 12:00:00,17581,Germany
554044,"Arlo Pro 2 - Add-on Camera | Rechargeable, Nig...",smartphone,4.2,8727,B075P84FH9,78581579,10,117.03,1170.30,2019-12-09 12:00:00,17581,Germany
553801,SanDisk Ultra II 960GB Solid State Drive (SDSS...,processor,4.0,1600,B00M8ABHVQ,78581571,2,251.93,503.86,2019-12-09 12:00:00,15311,Germany
...,...,...,...,...,...,...,...,...,...,...,...,...
1351,"FENIFOX Wireless Keyboard and Mouse,2.4G USB E...",keyboard,3.8,522,B07VJ496T6,78536365,6,34.99,209.94,2018-12-01 08:00:00,17850,Germany
1350,MOSISO MacBook Pro 13 inch Case 2019 2018 2017...,keyboard,4.0,2884,B07MNNDW78,78536365,6,16.99,101.94,2018-12-01 08:00:00,17850,Germany
1349,mCover Aqua iPearl Hard Shell Cover Case + Fre...,keyboard,4.3,1343,B0031MGUBC,78536365,8,19.99,159.92,2018-12-01 08:00:00,17850,Germany
1348,"3M Precise Mouse Pad with Gel Wrist Rest, Soot...",keyboard,4.3,1519,B001A1UX0U,78536365,6,13.84,83.04,2018-12-01 08:00:00,17850,Germany
1999,Kids Mouse for Laptop USB Ergonomic Mouse Wire...,mouse,4.4,1286,B01FABWFWY,78536369,3,7.99,23.97,2018-12-01 08:00:00,13047,Germany

In [134]:
# Data cleaning - checking and dropping missing values (Unknow country) 

indexNames = df[ df['Country'] == 'Unknown' ].index

df_country=df.drop(df.loc[df['Country'] == 'Unknown'].index, inplace=True)

df_country=pd.DataFrame(data=(df))

In [158]:
# Pivot Table per Invoice

table_invoice = pd.pivot_table(df_country, values='total_sale', index=['InvoiceNo', 'Country'],
                    aggfunc=np.sum,
                    observed=True)

table_invoice=table_invoice.sort_values(by=['total_sale'], ascending=False)


table_invoice

                       total_sale
InvoiceNo Country
78581483  Germany      6146710.55
78541431  Germany      4433604.10
78567423  Germany      2557541.80
78572035  Netherlands  2015225.88
78563614  Australia    1971091.60
...                           ...
78556456  Germany            7.90
78567642  Switzerland        7.65
78547814  Germany            6.99
78546480  Germany            6.99
78556446  Germany            6.10

[18476 rows x 1 columns]

In [162]:
# Pivot tabel per Customer

table_customer = pd.pivot_table(df_country, values='total_sale', index=['CustomerID', 'Country', 'product_type'],
                    aggfunc=np.sum,
                    observed=True)

table_customer=table_customer.sort_values(by=['total_sale'], ascending=False)

table_customer

                                     total_sale
CustomerID Country     product_type
16446      Germany     smartphone    6146710.55
14646      Netherlands processor     6099500.87
                       dslr camera   5755968.52
                       smartphone    5395203.56
12346      Germany     processor     4433604.10
...                                         ...
14816      Germany     smartphone          6.99
17889      Germany     mouse               6.89
14089      Germany     mouse               6.80
16679      Germany     smartphone          5.98
16517      Germany     processor           5.98

[23290 rows x 1 columns]

In [177]:
# Pivot tabel per Category of Product

table_product = pd.pivot_table(df_country, values='total_sale', index=[ 'product_type'],
                    aggfunc=np.sum,
                    observed=True)

table_product=table_product.sort_values(by=['total_sale'], ascending=False)

table_product

                total_sale
product_type
processor     1.516951e+08
smartphone    1.446133e+08
dslr camera   1.146954e+08
keyboard      6.393081e+07
monitor       4.790563e+07
mouse         3.096675e+07

In [148]:
# Which countries and which customers made the highest number of orders? Are they the same with the highest spending?


country_sales=df_country.groupby('Country')['total_sale'].agg(['sum','count','mean']).sort_values(by=['count'], ascending=False)

country_sales

                               sum   count         mean
Country
Germany               4.567605e+08  370563  1232.612216
United Kingdom        1.238764e+07    9827  1260.571785
France                1.149104e+07    8434  1362.466175
Ireland               1.530354e+07    7603  2012.829133
Spain                 2.754244e+06    2551  1079.672407
Netherlands           2.200264e+07    2448  8988.007185
Belgium               2.474314e+06    2004  1234.687570
Switzerland           2.730491e+06    1889  1445.468894
Portugal              1.707936e+06    1527  1118.490956
Australia             9.848729e+06    1237  7961.785756
Norway                1.755610e+06    1086  1616.583831
Italy                 9.713113e+05     765  1269.688013
Finland               1.108042e+06     691  1603.533632
Cyprus                8.877748e+05     641  1384.984119
Sweden                4.373181e+06     445  9827.373236
Austria               4.480337e+05     403  1111.746228
Denmark               6.722136e+05     393  1710.467074
Poland                3.892792e+05     343  1134.924752
Japan                 3.078620e+06     338  9108.343846
Israel                4.833599e+05     258  1873.487946
Singapore             7.530347e+05     238  3164.011218
United States         2.725382e+05     194  1404.835979
Iceland               2.151716e+05     188  1144.529628
Canada                2.277556e+05     156  1459.972051
Greece                1.381092e+05     150   920.728267
Malta                 1.340011e+05     118  1135.602627
United Arab Emirates  8.243556e+04      71  1161.064225
European Community    6.188509e+04      61  1014.509672
South Africa          2.722044e+04      59   461.363390
Lebanon               4.476415e+04      47   952.428723
Lithuania             6.145114e+04      37  1660.841622
Brazil                4.518014e+04      32  1411.879375
Czech Republic        8.854790e+04      25  3541.916000
Bahrain               1.906146e+04      18  1058.970000
Saudi Arabia          7.346600e+03       9   816.288889
Unknown               0.000000e+00       0          NaN

In [ ]:
# How many and what categories are in the dataframe? 

cat_freq=pd.DataFrame(data=(full_df['product_type'].sum().value_counts().reset_index()))

#s=cat_df.groupby(by=['product_type'])

cat_freq

In [ ]:
#%reset