In [2]:
# Import libries

import pandas as pd
import numpy as np
import matplotlib as plt

In [4]:
# #Import wrong
# products = pd.read_excel(
#     r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
#     sheet_name='products', 
#     index_col=0,
#     header=0)

# stock = pd.read_excel(
#     r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
#     sheet_name='stock',
#     index_col=0, 
#     header=0)

# assessment = pd.read_excel(
#     r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
#     sheet_name='assessment',
#     index_col=0,
#     header=0)

# invoices = pd.read_excel(
#     r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
#     sheet_name='invoices',
#     index_col=0,
#     header=0)

# customers = pd.read_excel(
#     r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
#     sheet_name='customers',
#     index_col=0,
#     header=0)

In [4]:
# Importing with reset index

products = pd.read_excel(r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
    sheet_name='products', header=0)
products.reset_index(inplace=True) # we are creating an index column because, in this particular sales dataset, no value is necessarily unique, except for the index
products=products.rename(columns={"index": "index_col"}) # we need to change the name of the column to something else

stock = pd.read_excel(r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
    sheet_name='stock', header=0)
stock.reset_index(inplace=True) 
stock=stock.rename(columns={"index": "index_col"}) 

assessment = pd.read_excel(r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
    sheet_name='assessment', header=0)
assessment.reset_index(inplace=True) 
assessment=assessment.rename(columns={"index": "index_col"}) 

invoices = pd.read_excel(r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
    sheet_name='invoices', header=0)
invoices.reset_index(inplace=True) 
invoices=invoices.rename(columns={"index": "index_col"}) 

customers = pd.read_excel(r'C:\Users\jspad\Documents\Code Academy\Sqlite Projects\sales original.xlsx', 
    sheet_name='customers', header=0)
customers.reset_index(inplace=True) 
customers=customers.rename(columns={"index": "index_col"})

In [34]:
# Checking import dataset by sheets
products.head(20)
stock.head(10)
assessment.head(10)
invoices.head(10)
customers.head(10)

,index_col,ASIN,title,product_type
0,0,B07GWKDLGT,Nikon D3500 W/ AF-P DX NIKKOR 18-55mm f/3.5-5....,dslr camera
1,1,B01MTLH408,"Manfrotto Element Aluminum 5-Section Monopod, ...",dslr camera
2,2,B0064FS7HI,"STK LP-E8 Battery for Canon Rebel T5i, T3i, T2...",dslr camera
3,3,B013JHU5YG,Lowepro Whistler BP 350 AW (Grey) . Profession...,dslr camera
4,4,B06XWN9Q99,Samsung (MB-ME32GA/AM) 32GB 95MB/s (U1) microS...,dslr camera
5,5,B07F9QN5Q9,Camera Shoulder Double Strap Harness Quick Rel...,dslr camera
6,6,B006W1J3OK,OP/TECH USA 3401002 Compact Sling for Cameras ...,dslr camera
7,7,B00EO4A7L0,Rode SmartLav+ Omnidirectional Lavalier Microp...,dslr camera
8,8,B0000BZL0G,B + W 37mm UV Protection Filter (010) for Came...,dslr camera
9,9,B004JMZPJQ,Case Logic DCB-308 SLR Camera Sling (Black),dslr camera
10,10,B07FSJXHY9,"ESDDI Camera Tripod, DSLR Tripod with 360Â° Ba...",dslr camera
11,11,B007I5B3EW,Ape Case Envoy Compact Messenger-Style Camera ...,dslr camera
12,12,B0149KE4FI,"Manfrotto PIXI EVO 2-Section Mini Tripod, Red ...",dslr camera
13,13,B07817MWDB,Peak Design Capture Camera Clip V3 (with Plate),dslr camera
14,14,B00NP7G1U8,SIRUI 3T-35 Table Top/Handheld Video Tripod wi...,dslr camera
15,15,B07Q6BBS1L,"CADeN Camera Bag Sling Backpack, Camera Case W...",dslr camera
16,16,B005NX7HY6,Sony 50mm f/1.8 Mid-Range Lens for Sony E Moun...,dslr camera
17,17,B00VUGN6AO,"Topixdeals Vintage Camera Bag, DSLR Shoulder C...",dslr camera
18,18,B00MUNPUXM,Neewer Quick Flip Rotating Flash Bracket for D...,dslr camera
19,19,B0002862UW,Celestron â€“ Ultima 100 Angled Spotting Scope...,dslr camera

In [9]:
#Merging datasets

part_df=pd.merge(products, stock, on="index_col")
part_df=part_df.drop(['ASIN_y'], axis=1)

part2_df=pd.merge(part_df, assessment, on="index_col")
part2_df=part2_df.drop(['ASIN_x'], axis=1)

part3_df=pd.merge(part2_df, invoices, on="index_col")
part3_df=part3_df.drop(['ASIN_y'], axis=1)

full_df=pd.merge(part3_df, customers, on="index_col")
full_df=full_df.drop(['CustomerID_y', 'index_col'], axis=1)

In [10]:
# Database Info and shape

full_df.info()

full_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 554417 entries, 0 to 554416
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   title         554417 non-null  object
 1   product_type  554417 non-null  object
 2   StockCode     554417 non-null  object
 3   rating        554417 non-null  float64
 4   review_count  554417 non-null  int64
 5   ASIN_x        554417 non-null  object
 6   InvoiceNo     554417 non-null  object
 7   Quantity      554417 non-null  int64
 8   price         554417 non-null  float64
 9   total_sale    554417 non-null  float64
 10  invoice_date  554417 non-null  datetime64[ns]
 11  invoice_time  554417 non-null  int64
 12  CustomerID_x  554417 non-null  object
 13  Country       554417 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(3), object(7)
memory usage: 63.4+ MB

,title,product_type,StockCode,rating,review_count,ASIN_x,InvoiceNo,Quantity,price,total_sale,invoice_date,invoice_time,CustomerID_x,Country
0,Nikon D3500 W/ AF-P DX NIKKOR 18-55mm f/3.5-5....,dslr camera,21703,4.6,1399,B07GWKDLGT,78536597,4,496.95,1987.80,2018-12-01,17,18011,Germany
1,"Manfrotto Element Aluminum 5-Section Monopod, ...",dslr camera,40001,4.6,289,B01MTLH408,78536597,4,39.99,159.96,2018-12-01,17,18011,Germany
2,"STK LP-E8 Battery for Canon Rebel T5i, T3i, T2...",dslr camera,85034A,4.4,333,B0064FS7HI,78536597,1,12.99,12.99,2018-12-01,17,18011,Germany
3,Lowepro Whistler BP 350 AW (Grey) . Profession...,dslr camera,72798C,4.3,86,B013JHU5YG,78536597,1,199.99,199.99,2018-12-01,17,18011,Germany
4,Samsung (MB-ME32GA/AM) 32GB 95MB/s (U1) microS...,dslr camera,20726,4.7,15717,B06XWN9Q99,78536597,1,7.49,7.49,2018-12-01,17,18011,Germany

In [11]:
# Checking missing values

full_df.isnull().sum().sort_values(ascending=False)

title           0
product_type    0
StockCode       0
rating          0
review_count    0
ASIN_x          0
InvoiceNo       0
Quantity        0
price           0
total_sale      0
invoice_date    0
invoice_time    0
CustomerID_x    0
Country         0
dtype: int64

In [13]:
#Making a copy  of dataset
df=full_df.copy()

In [14]:
#Convert time and date into timestamp objects 
t= df['invoice_time']
df['invoice_time'] = pd.to_datetime(t, format='%H').dt.time

d = df['invoice_date']
df['invoice_date'] = pd.to_datetime(d).dt.date


#Combine time and date into one column
df['invoice_date'] = df.apply(lambda r : pd.datetime.combine(r['invoice_date'],r['invoice_time']),1)

<ipython-input-14-18b1080f7c81>:10: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  df['invoice_date'] = df.apply(lambda r : pd.datetime.combine(r['invoice_date'],r['invoice_time']),1)

In [55]:
# Dropping columns

df=df.drop(['invoice_time', 'StockCode'], axis=1)

In [51]:
np.issubdtype(df['CustomerID_x'].dtype, np.number)

df=df[pd.to_numeric(df['CustomerID_x'], errors='coerce').notnull()]

In [53]:
# Rename
df=df.rename(columns={"title": "Description",
                                "ASIN_x": "ASIN",
                                "CustomerID_x": "CustomerID"})

In [62]:
# Transforming these labels into categrical data type

df['product_type'] = pd.Categorical(df['product_type'],
categories=['dslr camera', 'keyboard', 'monitor', 'mouse', 'processor', 'smartphone',])


df['Country'] = pd.Categorical(df['Country'],
categories=['Australia','Austria','Bahrain','Belgium','Brazil','Canada','Cyprus','Czech Republic','Denmark','European Community','Finland','France','Germany','Greece',
            'Iceland','Ireland','Israel','Italy','Japan','Lebanon','Lithuania','Malta','Netherlands','Norway','Poland','Portugal','Saudi Arabia','Singapore',
            'South Africa','Spain','Sweden','Switzerland','United Arab Emirates','United Kingdom','United States','Unknown'])

In [64]:
df.info()

df.head(20)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 415102 entries, 0 to 554416
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Description   415102 non-null  object
 1   product_type  415102 non-null  category
 2   rating        415102 non-null  float64
 3   review_count  415102 non-null  int64
 4   ASIN          415102 non-null  object
 5   InvoiceNo     415102 non-null  object
 6   Quantity      415102 non-null  int64
 7   price         415102 non-null  float64
 8   total_sale    415102 non-null  float64
 9   invoice_date  415102 non-null  datetime64[ns]
 10  CustomerID    415102 non-null  object
 11  Country       415102 non-null  category
dtypes: category(2), datetime64[ns](1), float64(3), int64(2), object(4)
memory usage: 35.6+ MB

,Description,product_type,rating,review_count,ASIN,InvoiceNo,Quantity,price,total_sale,invoice_date,CustomerID,Country
0,Nikon D3500 W/ AF-P DX NIKKOR 18-55mm f/3.5-5....,dslr camera,4.6,1399,B07GWKDLGT,78536597,4,496.95,1987.80,2018-12-01 17:00:00,18011,Germany
1,"Manfrotto Element Aluminum 5-Section Monopod, ...",dslr camera,4.6,289,B01MTLH408,78536597,4,39.99,159.96,2018-12-01 17:00:00,18011,Germany
2,"STK LP-E8 Battery for Canon Rebel T5i, T3i, T2...",dslr camera,4.4,333,B0064FS7HI,78536597,1,12.99,12.99,2018-12-01 17:00:00,18011,Germany
3,Lowepro Whistler BP 350 AW (Grey) . Profession...,dslr camera,4.3,86,B013JHU5YG,78536597,1,199.99,199.99,2018-12-01 17:00:00,18011,Germany
4,Samsung (MB-ME32GA/AM) 32GB 95MB/s (U1) microS...,dslr camera,4.7,15717,B06XWN9Q99,78536597,1,7.49,7.49,2018-12-01 17:00:00,18011,Germany
5,Camera Shoulder Double Strap Harness Quick Rel...,dslr camera,4.3,83,B07F9QN5Q9,78536597,14,23.99,335.86,2018-12-01 17:00:00,18011,Germany
6,OP/TECH USA 3401002 Compact Sling for Cameras ...,dslr camera,4.2,253,B006W1J3OK,78536597,6,11.95,71.70,2018-12-01 17:00:00,18011,Germany
7,Rode SmartLav+ Omnidirectional Lavalier Microp...,dslr camera,4.1,2281,B00EO4A7L0,78536595,5,79.00,395.00,2018-12-01 17:00:00,13576,Germany
8,B + W 37mm UV Protection Filter (010) for Came...,dslr camera,4.5,6615,B0000BZL0G,78536594,6,21.90,131.40,2018-12-01 17:00:00,15235,Germany
9,Case Logic DCB-308 SLR Camera Sling (Black),dslr camera,4.3,925,B004JMZPJQ,78536593,2,49.99,99.98,2018-12-01 17:00:00,16835,Germany
10,"ESDDI Camera Tripod, DSLR Tripod with 360Â° Ba...",dslr camera,4.8,338,B07FSJXHY9,78536593,6,64.86,389.16,2018-12-01 17:00:00,16835,Germany
120,Neewer Rubber-Coated Metal Camera Lens Filter ...,dslr camera,4.1,205,B018I848Q2,78536591,1,14.99,14.99,2018-12-01 16:00:00,14606,Germany
121,Neewer NW-670 TTL Flash Speedlite with LCD Dis...,dslr camera,4.3,370,B00O9S2VSS,78536591,1,79.99,79.99,2018-12-01 16:00:00,14606,Germany
122,Selfie Ring Light with Tripod Stand and Phone ...,dslr camera,4.4,525,B07SPF32KS,78536591,1,35.99,35.99,2018-12-01 16:00:00,14606,Germany
123,Neewer Quick Flip Rotating Flash Bracket for D...,dslr camera,4.1,170,B00MUNPUXM,78536591,1,14.99,14.99,2018-12-01 16:00:00,14606,Germany
124,Neewer Mini Ball Head 1/4 inch Screw with Lock...,dslr camera,4.3,702,B00AKT96GU,78536591,1,13.99,13.99,2018-12-01 16:00:00,14606,Germany
125,Neewer Underwater Lights Dive Light 60 LED Dim...,dslr camera,3.9,134,B07HHZ76ND,78536591,1,42.99,42.99,2018-12-01 16:00:00,14606,Germany
126,Canon EF-S 55-250mm f/4-5.6 IS STM Telephoto Z...,dslr camera,4.7,2400,B00EP71ETU,78536591,4,180.00,720.00,2018-12-01 16:00:00,14606,Germany
127,"Hicober USB C to SD Card Reader, Micro SD Memo...",dslr camera,4.7,1973,B07T55DL33,78536590,8,12.95,103.60,2018-12-01 16:00:00,13065,Germany
128,Replacement Canon Camera USB Cable / Data Inte...,dslr camera,4.3,459,B073BZGNCC,78536588,6,7.85,47.10,2018-12-01 16:00:00,17069,Germany

In [67]:
# Which countries and which customers made the highest number of orders? Are they the same with the highest spending?


country_freq=pd.DataFrame(data=(df['Country'].value_counts().reset_index()))

country_freq

                   index  Country
0                Germany   370563
1         United Kingdom     9827
2                 France     8434
3                Ireland     7603
4                  Spain     2551
5            Netherlands     2448
6                Belgium     2004
7            Switzerland     1889
8               Portugal     1527
9              Australia     1237
10                Norway     1086
11                 Italy      765
12               Finland      691
13                Cyprus      641
14                Sweden      445
15               Austria      403
16               Denmark      393
17                Poland      343
18                 Japan      338
19                Israel      258
20               Unknown      253
21             Singapore      238
22         United States      194
23               Iceland      188
24                Canada      156
25                Greece      150
26                 Malta      118
27  United Arab Emirates       71
28    European Community       61
29          South Africa       59
30               Lebanon       47
31             Lithuania       37
32                Brazil       32
33        Czech Republic       25
34               Bahrain       18
35          Saudi Arabia        9

In [61]:
country=pd.DataFrame(data=(df['Country']))

c=country.groupby(by=['Country']).sum()
c

Empty DataFrame
Columns: []
Index: [Australia, Austria, Bahrain, Belgium, Brazil, Canada, Cyprus, Czech Republic, Denmark, European Community, Finland, France, Germany, Greece, Iceland, Ireland, Israel, Italy, Japan, Lebanon, Lithuania, Malta, Netherlands, Norway, Poland, Portugal, Saudi Arabia, Singapore, South Africa, Spain, Sweden, Switzerland, United Arab Emirates, United Kingdom, United States, Unknown]

In [ ]:
# How many and what categories are in the dataframe? 

cat_freq=pd.DataFrame(data=(full_df['product_type'].sum().value_counts().reset_index()))

#s=cat_df.groupby(by=['product_type'])

cat_freq

In [ ]:
#%reset